<!doctype html>
<html>
    <haed>
        <title>Hello</title>
    </haed>
    <body>
        <form action="/" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="submit" value="push">
        </form>
    </body>
</html>